<center>

    <form action="/agregar/busq" method="POST">
        <input type="hidden" name="s" value="{{sku}}">
        <div class="input-group mb-3 mt-4" style="width: 55%;">
            <input type="text" class="form-control" name="u" placeholder="BUSCAR MATRÍCULA/BOLETA">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">BUSCAR</button>
            </div>
        </div>
    </form>

</center>

<center>
    <div class="card mt-4" style="width: 55%;">
        <div class="card">
            <div class="card-header">
                PRÉSTAMO
            </div>
            <div class="card-body" style="text-align: center;">
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">MATRÍCULA/BOLETA</th>
                            <th scope="col">NOMBRE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each consulta}}
                        <tr>
                            <td>{{this.reg_mb}}</td>
                            <td>{{this.reg_pri}} {{this.reg_seg}} {{this.reg_nom}} </td>
                            <td>
                                <form action="/agregar/prest" method="POST">
                                    <input type="hidden" name="s" value="{{this.sku}}">
                                    <input type="hidden" name="mb" value="{{this.reg_mb}}">
                                    {{#if this.stat}} <button type="submit" class="btn btn-info">PRESTAR</button>
                                    {{else}} <label>EN PRÉSTAMO</label> {{/if}}
                                </form>
                            </td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</center>