<center>
    <div class="card " style="width: 75%; margin-top: 1em;">
        <div class="card">
            <div class="card-header">
                REGISTRAR ACTIVIDAD
            </div>
            <div class="card-body">

                <form action="/editar/horario" method="POST">

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            {{#each consulta}}
                            <input type="text" readonly class="form-control" placeholder="{{this.act_descr}}">
                            <input type="hidden" name="act" value="{{this.act_cod}}">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" readonly class="form-control" placeholder="{{this.act_cod}}">
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" readonly class="form-control" placeholder="{{this.act_lugar}}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" readonly class="form-control" placeholder="{{this.act_prof}}">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" readonly class="form-control" placeholder="{{this.t}}">
                        </div>
                    </div>
                    <div>
                        <label>HORARIO</label>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-1 col-form-label">
                            <label class="col-sm-4 col-form-label"></label>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="lu">LUNES</label>
                            <input type="text" id="lu" class="form-control" name="lu" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_li}}">
                            <input type="text" id="lu" class="form-control mt-1" name="luF" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_lf}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ma">MARTES</label>
                            <input type="text" class="form-control" id="ma" name="ma" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_mi}}">
                            <input type="text" id="lu" class="form-control mt-1" name="maF" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_mf}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="mi">MIÉRCOLES</label>
                            <input type="text" id="mi" class="form-control" name="mi" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_mii}}">
                            <input type="text" id="lu" class="form-control mt-1" name="miF" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_mif}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="ju">JUEVES</label>
                            <input type="text" class="form-control" id="ju" name="ju" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_ji}}">
                            <input type="text" id="lu" class="form-control mt-1" name="juF" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_jf}}">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="vi">VIERNES</label>
                            <input type="text" id="vi" class="form-control" name="vi" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_vi}}">
                            <input type="text" id="lu" class="form-control mt-1" name="viF" pattern="[0-9]{2}:[0-9]{2}"
                                value="{{this.act_vf}}">
                        </div>
                        {{/each}}

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">ACEPTAR</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</center>